<div class="sidebar close bg-green-800">
  <div class="logo-details">
    <img src="/logo.png" alt="" width="100px" />
    <span class="logo_name">Game Galaxy</span>
  </div>
  <ul class="nav-links">
    <li>
      <a (click)="goToIndex()">
        <i class="bx bx-home-alt"></i>
        <span class="link_name">Inicio</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" (click)="goToIndex()">Inicio</a></li>
      </ul>
    </li>
    <li>
      <a (click)="goToCatalogo()">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Catálogo</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" (click)="goToCatalogo()">Catálogo</a></li>
      </ul>
    </li>
    <li>
      <a (click)="goToFormulario()">
        <i class="bx bx-paper-plane"></i>
        <span class="link_name">Formulario</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" (click)="goToFormulario()">Formulario</a></li>
      </ul>
    </li>
    <li>
      <a (click)="goToClientes()">
        <i class="bx bx-list-ul"></i>
        <span class="link_name">Clientes</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" (click)="goToClientes()">Formulario</a></li>
      </ul>
    </li>
  </ul>
</div>
